body {
  background-color: black;
  margin: 0 auto;
  max-width: 500px;
}

#Gameboard {
  margin: 0 auto;
}

#Gameboard,
#StartButton {
  display: block;
}

#Score {
  text-align: center;
  font-size: 75px;
  color: white;
}

#StartButton {
  margin: 25px auto 0;
}